@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 200px;
    margin-top: 5px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(82, 55, 235, 0.5) !important;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
    margin-top: 50%;
}

h2 {
    color: aliceblue;
}